In [102]:
import json
from pathlib import Path
from statistics import variance

path = Path(r'datadump')

bikes = {}

# Choose either "helbiz_*.json" or "bird_*.json or "lime_*.json"
for e in path.glob('helbiz_*.json'):
    json_data = json.loads(e.read_text())
    for i in json_data["data"]["bikes"]:
        bikes[i["bike_id"]] = bikes.get(i["bike_id"], []) + [i]

In [103]:
for bike in bikes:
    try:
        #print(*bikes[bike],sep="\n")
        #positions = [float(i["lon"]) for i in bikes[bike]]
        #print(bike,":",variance(positions),":",positions)
        print(bikes[bike][0:10])
        break
    except:
        pass

[{'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869174, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869195, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869234, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869264, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869294, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869324, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869354, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869384, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869504, 'vehicle_type': 'bicycle'}, {'bike_id': 'F6Y2', 'lat': 38.89914321899414, 'lon': -77.02869415283203, 'is_reserved': 0, 'is_disabled': 0, 'in_use': 0, 'is_unavailable': 0, 'idle_time': 20869534, 'vehicle_type': 'bicycle'}]

In [104]:
positions = []
for bike in bikes:
    positions.append({"uuid":bike,"lon":float(bikes[bike][0]["lon"]),"lat":float(bikes[bike][0]["lat"])})

In [105]:
print(positions[:5])

[{'uuid': 'F6Y2', 'lon': -77.02869415283203, 'lat': 38.89914321899414}, {'uuid': 'E5P4', 'lon': -76.97775268554688, 'lat': 38.92806625366211}, {'uuid': 'EG222180900380', 'lon': -76.97764587402344, 'lat': 38.9278450012207}, {'uuid': 'Y4I8', 'lon': -76.9776611328125, 'lat': 38.92802810668945}, {'uuid': 'F5J2', 'lon': -76.91854858398438, 'lat': 38.89463424682617}]

In [106]:
import pandas as pd

In [107]:
positions_df = pd.DataFrame.from_dict(positions)
positions_df = positions_df.drop_duplicates()
positions_df.count()

lat     477
lon     477
uuid    477
dtype: int64

In [108]:
positions_df.describe()

              lat         lon
count  477.000000  477.000000
mean    38.768333  -77.014197
std      2.650225    6.190970
min      0.000000 -123.123344
25%     38.800869  -77.126534
50%     38.874760  -77.025558
75%     38.927940  -76.977753
max     49.273750    0.000000

In [109]:
positions_df.dtypes

lat     float64
lon     float64
uuid     object
dtype: object

In [110]:
import pandas as pd
import plotly.express as px


class Plotter:

    def plot(self, df):
        
        fig = px.scatter_mapbox(df, lat="lat", lon="lon",hover_data=["uuid"])

        fig.update_layout(mapbox_style="open-street-map")
        fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
        return fig

    def save_plot(self, fig):
        file_path = html_render_location / "plot.html"
        fig.write_html(str(file_path))

    def show_plot(self, fig):
        fig.show()

    def plot_and_save(self, json_fp: Path):
        p = self.plot(json_fp)
        self.save_plot(p)

In [111]:
import plotly.io as pio
pio.renderers.default = 'browser'

plotter = Plotter()
fig = plotter.plot(positions_df)
plotter.show_plot(fig)